- name: Create a folder
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{{item}}"
    password: admin123
    url: http://172.31.14.209:8080
    user: admin
  loop:
    - CI-Pipelines

- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/s-pipeline.xml') }}"
    name: "{{item}}"
    password: admin123
    url: http://172.31.14.209:8080
    user: admin















#- name: Include Pipeline tasks
#  ansible.builtin.include_tasks: s-pipelines.yml
#  vars:
#    COMPONENT: "{{item}}"
#  loop:
#    - frontend
#    - catalogue
#    - cart
#    - user
#    - shipping
#    - payment
