- name: Create a folder
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{{item}}"
    password: admin1234
    url: http://172.31.14.209:8080
    user: admin
  loop:
    - CI-Pipelines

- name: Include Pipeline tasks
  ansible.builtin.include_tasks: m-pipeline.yml
  vars:
    COMPONENT: "{{item}}"
  loop:
    - frontend
    - catalogue
    - cart
    - user
    - shipping
    - payment

#- name: Include Single Branch Pipeline tasks
#  ansible.builtin.include_tasks: s-pipelines.yml
#  vars:
#    COMPONENT: "{{item}}"
#  loop:
#    - roboshop-infra

